@layer base {
  :root {
    --color-accent-base: 345 79% 51%; /* Rosso di partenza */
    --color-accent-hover: 345 79% 41%; /* Più scuro per hover */
    --color-accent-muted: 345 79% 31%; /* Più scuro per muted */
    --color-accent-contrast: 0 0% 100%; /* Bianco */
    --color-heading-foreground: 345 79% 41%; /* Più scuro per heading */
    --color-heading-background: 345 79% 96%; /* Più chiaro per background heading */
    --color-background-elevated: 0 0% 100%; /* Bianco */
    --color-background-base: 345 44% 96%; /* Sfondo base chiaro */
    --color-background-navigation: 345 79% 41%; /* Sfondo navigazione scuro */
    --color-background-navigation-active: 345 79% 31%; /* Sfondo navigazione attivo */
    --color-background-header: 345 79% 41%; /* Sfondo header */
    --color-background-highlight: 345 79% 94%; /* Sfondo highlight */
    --color-background-backdrop: 0 0% 50%; /* Grigio per backdrop */
    --color-border-subtle: 345 42% 86%; /* Bordo sottile */
    --color-border-contrast: 0 0% 0%; /* Nero per contrasto */
    --color-border-navigation: 345 79% 31%; /* Bordo navigazione scuro */
    --color-text-base: 345 8% 3%; /* Testo base scuro */
    --color-text-muted: 345 8% 38%; /* Testo attenuato */
  }

  body {
    color: hsl(var(--color-text-base));
  }
}
